body{
    padding-top: 10px;
    padding-left: 30px;    
    font-family: "Malgun Gothic";
}

nav{
    width: 96vw;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

a{
    width: calc(100% / 12);
    padding: 10px 0px;
    margin: 0px 30px;
    text-align: center;
    text-decoration: none;
    border: 1px solid white;
    color: #7B61FF;
    font-weight: 600;
    transition: all 0.5s ease;
}

a:hover{
    border: 1px solid #7B61FF;
    transition: all 0.5s ease;
}

#star{
    width: 250px;
    margin-left: 30px;
    margin-bottom: 20px;
    float: none;
}

#HR{
    float: left;
    width: 314px;
    height: auto;
}

div{
    width: 50vw;
    float: left;
    margin-left: 40px;
}

h1{
    margin-top: -10px;
}

button{
    width: 140px;
    height: 50px;
    border: 2px solid #7B61FF;
    background-color: white;
    color: #7B61FF;
    border-radius: 50px;
    font-size: 22px;
    float: left;
}

b{
    font-size: 22px;
    color: #7B61FF;
    padding-left: 40px;
    margin-top: 10px;
    position: absolute;
}

span{
    font-size: 22px;
    padding-left: 150px;
    margin-top: 10px;
    position: absolute;
}

svg{
    padding-right: 10px;
}

#container{
    height: 200px;
    width: 100%;
    margin-top: 400px;
    margin-left: -10px;
    float: none;
}

#container>img{
    height: 150px;
    width: 220px;
    padding: 10px;
    float: left;
}

section{
    width: 80vw;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 190px;
    margin-bottom: 30px;
    justify-content: center;
    display: none;
}

@media screen and (max-width: 898px){    
    div{
        float: none;
        margin-top: 400px;
        width: 80%;
    }

    #star{
        margin-left: 30%;
    }

    #HR{
        margin-left: 25%;
    }

    #container{
        margin-top: 100px;
    }
}

@media screen and (max-width: 525px){    
    div{
        float: none;
        margin-top: 400px;
        width: 80%;
    }

    #star{
        margin-left: 24%;
    }

    #HR{
        margin-left: 15%;
    }
}