body{
    font-family: "Malgun Gothic";
}

nav{
    width: 90vw;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

nav>button{
    height: 40px;
    border-radius: 10px;
    border: 1px solid #7B61FF;
    background-color: #7B61FF;
    color: white;
    display: none;
}

a{
    width: 8.3%;
    height: 25px;
    padding: 10px 0px;
    margin: 0px 30px;
    text-align: center;
    text-decoration: none;
    border: 1px solid white;
    color: #7B61FF;
    font-weight: 600;
    transition: all 0.5s ease;
}

a:hover{
    border: 1px solid #7B61FF;
    transition: all 0.5s ease;
}

#slide, #slide>a{
    display: none;
}

h1{
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 50px;
}

section{
    width: 100%;
    display: grid;
    justify-items: center;
}

input{
    width: 400px;
    height: 35px;
    border: 1px solid #7B61FF;
    border-radius: 10px;
    margin-bottom: 15px;
}

input :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

label{
    width: 400px;
    text-align: left;
    color: #7B61FF;
    font-size: 15px;
}

section>h1{
    font-size: 32px;
    color: #7B61FF;
}

figure{
    height: 377px;
    width: 625px;
    border: none;
    border-radius: 10px;
}

figure>img{
    height: 377px;
    width: 314px;
    border: none;
    border-radius: 10px;
    float: left;
}

figure>div{
    height: 377px;
    float: right;
    text-align: center;
}

figcaption{
    width: 250px;
    font-size: 22px;
    font-weight: 600;
}

p{
    margin: 0px;
    text-align: right;
    color: #7B61FF;
    font-weight: 600;
}

p>span{
    float: left;
    color: black;
}

div>button{
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    background-image: linear-gradient(to bottom right, #a103fc, #fc1403);
}

html::-webkit-scrollbar{
    width: 10px;
}

html::-webkit-scrollbar-track{
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    border-radius: 10px;
}
  
html::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: linear-gradient(180deg, #1606f0, #00c6fb);
}

@media screen and (max-width: 1300px){
    nav>a{
        margin: 0px 20px;
    }
}

@media screen and (max-width: 1050px){
    nav>a{
        display: none;
    }

    nav>button{
        display: block;
    }

    #slide{
        width: 100%;
        height: 390px;
        background-color: rgba(0, 0, 0, 0.8);
        margin-top: 50px;
        justify-items: center;
        position: absolute;
    }
    
    #slide>a{
        color: white;
        text-align: center;
        border: none;
        width: 100%;
        padding: 16px 0px;
        margin: 0px;
    }   
}

@media screen and (max-width: 720px){
    figure{
        display: grid;
        justify-items: center;
        width: 314px;
    }
}

@media screen and (max-width: 440px){
    h1{
        margin-left: 0px;
    }

    input, label{
        width: 300px;
    }
}

@media screen and (max-width: 385px){
    figure{
        margin-left: 0px;
    }
}