body{
    margin: 0px;
}

#logo{
    width: 80px;
    height: auto;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 70px;
    float: left;
}

a{
    padding: 20px 20px;
    font-size: 15px;
}

header{
    height: 760px;
    background-image: url(https://media.tegna-media.com/assets/WTHR/images/36954d83-ea36-439c-8e02-b1991149f353/36954d83-ea36-439c-8e02-b1991149f353_750x422.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

div>button{
    width: 215px;
    height: 45px;
    background-color: #7B61FF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
}

figure{
    width: 200px;
    padding: 0%;
}

img{
    width: 160px;
    height: 138px;
    border-radius: 10px;
}

figcaption{
    font-size: 16px;
    font-weight: 500;
}

footer{
    font-size: 13px;
    color: #979797;
}

/* @media screen and (max-width:800px){
    a{
        display: none;
    }
} */