body{
    margin: 0px;
    font-family: "Malgun Gothic";
}

header{
    height: 700px;
    background-image: url(https://media.tegna-media.com/assets/WTHR/images/36954d83-ea36-439c-8e02-b1991149f353/36954d83-ea36-439c-8e02-b1991149f353_750x422.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    margin-bottom: 60px;
}

#logo{
    width: 80px;
    height: auto;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 70px;
    float: left;
}

nav{
    display: flex;
    justify-content: center;
}

a{
    padding: 20px 0px;
    font-size: 15px;
    text-decoration: none;
    min-width: 100px;
    width: 140px;
    color: gray;
}

div>button{
    width: 215px;
    height: 45px;
    background-color: #7B61FF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
}

h2{
    padding-bottom: 50px;
    margin-left: 40px;
    font-size: 32px;
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
}

#section_1>div{
    min-width: 160px;
    width: auto;
}

.img_1{
    width: 160px;
    height: 138px;
}

figcaption{
    font-size: 16px;
    font-weight: 500;
}

figure>footer{
    font-size: 13px;
    color: #979797;
}

#section_2>div{
    min-width: 260px;
    width: auto;
}

.img_2{
    width: 260px;
    height: 323px;
}

img{
    border-radius: 10px;
}

/* @media screen and (max-width:800px){
    a{
        display: none;
    }
} */